.Box{
    @include span-columns(6);
    background-color: $c-darkgray;
    //height: 350px; 
    margin-top: 2em;

    @media screen and(max-width: 980px){
    	@include span-columns(12);
	}
	
}

.Box-content {
	padding: 20px;
}
.Box-rims {

}

.Box-tires {

}

.Box-title{
	text-align: center;  
	font-weight: 600;
	background-color: $c-lightgreen;
	margin-top: 0;
	padding: 0.8em;
}

.filter_controlgroup {
	margin-bottom: 15px;
}
.filter_controlgroup input, .filter_controlgroup select {
	float: right;
	width: 50%;
}


