.Footer {
	background-color: $c-darkgreen;
}

.Footer-inner {
}

.Footer-inner .widget {
	@include span-columns(3);

	@media screen and(max-width: 980px){
    	@include span-columns(12);
	}
}

h4.widgettitle{
	font-size: 1rem;
}

.widgettext{
	font-size: 14px;
}
