// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  background-image: url("../img/img-header-bg.png");
  background-size: cover;
  // @media screen and(max-width: 980px){
  //   @include span-columns(12);
  // }
}

.Header-wrap{
  background: url("../img/headerbg1.png");
  background-repeat:repeat-x;
  // background-attachment:fixed;
  background-position:top; 

}

.Header-gradient{
  background: $c-darkgreen; /* Old browsers */
background: -moz-linear-gradient(top,  #001f20 0%, #003030 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#001f20), color-stop(100%,#003030)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #001f20 0%,#003030 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #001f20 0%,#003030 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #001f20 0%,#003030 100%); /* IE10+ */
background: linear-gradient(to bottom,  #001f20 0%,#003030 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001f20', endColorstr='#003030',GradientType=0 ); /* IE6-9 */
}

.Header-contact {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.5);
}

// ----- Contact bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.25);
}

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: $c-blue;
}

// ----- Carousel ----- //

.Header-carousel {
  @extend .u-gridRow;
  padding-bottom : ($l-whiteSpace * 4);
  padding-top    : ($l-whiteSpace * 4);
}
