// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  // text-align: center;
@media screen and(max-width: 980px){
    // margin-left: 6em;
    background-color: transparent;
    padding: 0;
    // margin-left: 1.5em;
  }

}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-listItem.is-active {
  background-color: $c-red;
  .Navigation-link{
    color: $c-white;
  }

   @media screen and(max-width: 980px){
    display: block;
    padding: 0.5em;

    &:hover{
   background: transparent;
    text-decoration: underline;

   }
    
  }
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;

  background-color: $c-white;
  -webkit-duration: .3s;
  -moz-duration: .3s;
  -o-duration: .3s;
  transition-duration: .3s;
  &:hover{
   background: $c-red;
   }
  // margin: 1em;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
  @media screen and(max-width: 980px){
    display: block;
    padding: 0.5em;

    &:hover{
   background: transparent;
    text-decoration: underline;

   }
    
  }
  
}

// ----- Navigation link ----- //

.Navigation-link {
  // padding-left: 1em;
  // padding-right: 1em;
  // padding-top: 1em;
  font-size: 0.9em;
  padding: 1em;
  
  text-transform: uppercase;
  text-decoration: none;
  // margin-left: 4px;
  color: $c-darkgray;

  -webkit-duration: .3s;
  -moz-duration: .3s;
  -o-duration: .3s;
  transition-duration: .3s;
  &:hover{
   text-decoration: none;
   color: $c-white;
   }

   @media screen and(max-width: 980px){
    display: inline-block;
    width: 100%;
    // margin-top: 1em;
    padding: 0;
    padding-left: 1em;
    padding-right: 2em;
    color: $c-darkgreen;
    text-align: center;
  }
  
}

.Navigation-link--invertedBold {
  font-weight: bold;

}

#js-navCollapseTarget{
  margin-top: 0;
}

.Nav-toggle{
  background-color: blue;
}
