.product-properties-table {
	width: 100%;
	td {
		padding: 5px;
	}
	tr:nth-of-type(even){
		background-color: #000;
	}
	tr:nth-of-type(odd){
		background-color: rgb(51, 51, 51);
	}
}


.addtocart a.btn {
	display: block;
	padding: 20px;
	color: white;
	background-color: $c-lightgreen; 
	border-radius: 6px;
	transition: .3s;
	text-align: center;
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	&:hover {
		text-decoration: none;
		background-color: red;
	}

}

.product {
	background-color: $c-darkgreen;
	padding: 20px;
	height: 300px;
	margin-bottom: 20px;
	position: relative;
	.product-image {
		height: 190px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}

	.product-title {
		position: absolute;
		left: 10px; 
		bottom: 30px;
	}
	.product-price {
		position: absolute;
		right: 10px;
		bottom: 30px;
	}
	.product-detail-button {
		position: absolute;
		right: 10px;
		bottom: 10px;
	
	}
	
}
